## Leer datos de URL

In [134]:
import pandas as pd
import csv
import urllib3
import os

In [4]:
medal_url ="http://winterolympicsmedals.com/medals.csv"

In [5]:
medal_data = pd.read_csv(medal_url)

In [8]:
medal_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

## Utilizando las librerias de python urlib3 y csv

In [89]:
http = urllib3.PoolManager()
r = http.request("GET", medal_url)
r.status
response = r.data
type(response)

bytes

## Solución 1

In [90]:
data_str = response.decode('utf-8')
data_lis = data_str.strip().split("\n")

In [95]:
cols = data_lis[0].strip().split(",")
dict = {}
for col in cols:
    dict[col] = []

In [96]:
for line in data_lis[1:]:
    value = line.strip().split(",")
    for i in range(len(value)):
        dict[cols[i]].append(value[i])

In [97]:
len(cols)

8

In [98]:
df = pd.DataFrame(dict)
df.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

## Solución 2

In [125]:
dt_str = response.decode("utf-8")

In [131]:
csv_reader = csv.reader(dt_str.split("\n"))

In [132]:
name = csv_reader.__next__()

In [137]:
dframe = pd.DataFrame(csv_reader,columns=name)

## Guardamos los datos

In [136]:
mainpath = "/home/osks/Documentos/Development/Python/ML_Course_Python/dataset"
filename = "medal/download_medal."
fullpath = os.path.join(mainpath,filename)

In [138]:
df.to_csv(fullpath + "csv")
df.to_json(fullpath + "json")
df.to_excel(fullpath + "xls")